@import "tailwindcss";

:root {
  --background: black;
  --foreground: white;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
